body {
  margin: 0;
  padding: 0;
  background-image: url(clouds.jpg);
  font-family: "Arial";
}

.login {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 50px;
  text-align: center;
  border-radius: 15px;
}

p {
  color: #277582;
  font-size: 17px;
  padding-left: 40px;
  text-align: left;
  align-items: left;
}
a.acc {
  text-align: right;
  padding-right: 0px;
}

#Uname {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}
#Pass {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

a {
  text-align: right;
  padding-left: 185px;
}

#log {
  width: 250px;
  height: 30px;
  text-align: center;
  border: none;
  color: white;
  background-color: orangered;
}
.acc {
  padding-left: 0px;
}
body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
.navigation ul {
  list-style: none;
  background: #663366;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  text-decoration: none;
  color: #fff;
  width: 100px;
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 17px;
  font-family: Helvetica;
  transition: 0.4s;
}
.logo {
  height: 43px;
  width: 43px;
  float: left;
  border-radius: 30px;
}
@media screen and (max-width: 800px) {
  .loginbox {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.navigation ul li::after {
  content: "";
  width: 0%;
  height: 4px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0s;
  position: relative;
}
.navigation ul li:hover::after {
  width: 100%;
}
