body{   
    background-image: url(Picture/soild\ blue.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;

}
.loginbox{
    max-width: 400px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 550px;
    background-image:linear-gradient(to top, white,pink); ;
    color:#fff ;
    top:40% ;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;   
}
h4{
    display: block;
    font-size: 0.93em;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 60%;
    position: center;
    padding-top: 5px;
}
input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
  }
  #log{
    width: 180px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-image:linear-gradient(to right,rgb(226, 174, 76),rgb(238, 12, 200));
  }
  span.psw {
    float: right;
    padding-top: 16px;
    padding-right: 40px;
    font:13px sans-serif ;
   
  }

  .fa-google{
      height: 30px;
      width: 30px;
      border-radius: 35px;
  }
  .fa-facebook{
    height: 30px;
    width: 30px;
    border-radius: 35px;
    padding-left: 20px;
}
.fa-apple{
    height: 35px;
    width: 35px;
    border-radius: 10px;
    padding-left: 20px;
}

body {
margin: 0;
padding: 0;
background: #ccc;
} 
.nav ul {
list-style: none; background: #663366; text-align: center;
padding:0;
margin: 0;
}
.nav li {
  display: inline-block;
}
.nav a {
  text-decoration:none;
  color: #fff; width: 100px;  
  display:block; padding: 15px;
  font-size:17px;
  font-family: Helvetica; transition :0.4s;
}
.hai{
  height: 43px;
  width: 43px;
  float: left;
  border-radius: 30px;
}

@media screen and (max-width: 800px) {
  .loginbox {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
